.calendar {
    min-height: 600px
}

.rbc-event {
    background-color: #1DBD63;
    color: white;
}

.rbc-calendar {
    color: #9E9E9D !important;
}

.rbc-btn-group button{
    color: #9E9E9D !important;
}

.rbc-day-slot .rbc-event {
    border: 1px #1DBD63 solid;
}