header {
    background-color: white;
    border-bottom: 2px solid rgb(73, 76, 78, 0.2);
    min-height: 150px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 0px
}

.nav-logo {
    height: 120px;
    margin-top: 10px;
}

.text-logo {
    color: #1DBD63;
    margin-top: 22px;
}

.side-nav-custom {
    border: 0px;
}

.dahlia-green {
    color: #1DBD63 !important;
}

.side-nav-menu {
    margin-top: 18px;
}

.icon-sidenav {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 30px;
    color: #17301C;
}

.link-nav .active {
    color: #1DBD63;
}

.modal-header {
    color: #4FB0C6;
    font-weight: bold;
}

.toast-custom {
    background-color: #4FB0C6;
    color: white;
    font-size: bold;
}

.toast-custom-error {
    background-color: #DB93B0;
    color: white;
    font-size: bold;
}

.submit-button {
    margin-top: 20px;
}

p {
    margin-top: 2px;
}

.form-field-custom {
    margin-top: 10px;
}

.card-list-patient {
    background-color: #1DBD63;
}

.card-calendar {
    background-color: #4FB0C6;
}

.card-statistic {
    background-color: #744fc6;
}

