.container {
    width: 100%;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    min-height: 620px;
    margin-bottom: 50px;
}

a {
    color: #2C6700!important
}

header {
    height: 70px;
    background-color: white;
}

.input-field input:focus+label, textarea:focus+label {
    color: #2C6700 !important;
}

.row .input-field input:focus, textarea:focus {
    border-bottom: 1px solid #2C6700 !important;
    box-shadow: 0 1px 0 0 #2C6700 !important
}

.btn {
    background-color: #2C6700;
}

.btn:hover {
    background-color: #92CD00;
}

.btn:focus {
    background-color: #92CD00;
}

.icons {
    color: #2C6700;
}

.btn-floating {
    background-color: #2C6700!important;
    margin: 5px;
}

.rbc-event {
    background-color: #92CD00!important;
}

.error {
    color: #92CD00;
}

.error-field {
    color: #2C6700;
}

.pointer {
    cursor: pointer;
}

.parallax-container {
    height: 300px;
}