@media screen and (max-width: 992px) {
    .main {
        padding-left: 0!important;
    }
}

.container {
    width: 90%
}

a {
    color: #000078!important
}

.header {
    background-color: #B3B3D7;
}

.input-field input:focus+label, textarea:focus+label {
    color: #D1CAB0 !important;
}

.row .input-field input:focus, textarea:focus {
    border-bottom: 1px solid #D1CAB0 !important;
    box-shadow: 0 1px 0 0 #D1CAB0 !important
}

.picker__date-display, .picker__weekday-display, .btn {
    background-color: #D1CAB0;
}

.picker__close, .picker__today {
    color: #D1CAB0;
}

.btn {
    background-color: #D1CAB0;
}

.btn:hover {
    background-color: #ada99a;
}

.btn:focus {
    background-color: #D1CAB0;
}

.icons {
    color: #000078;
}

.btn-floating  {
    background-color: #AA0078!important;
}

.rbc-event {
    background-color: #AA0078!important;
}

.error {
    color: #AA0078;
}

.error-field {
    color: #000078;
}

.pointer {
    cursor: pointer;
}