.input-field input:focus+label, textarea:focus+label {
    color: #1DBD63 !important;
}

.row .input-field input:focus, textarea:focus {
    border-bottom: 1px solid #1DBD63 !important;
    box-shadow: 0 1px 0 0 #1DBD63 !important
}

.btn {
    background-color: #1DBD63;
}

.btn:hover {
    background-color: #92CD00;
}

.btn:focus {
    background-color: #92CD00;
}

.icons {
    color: #1DBD63;
}

.error {
    color: #FF0000;
}

.error-field {
    color: #1DBD63;
}

.pointer {
    cursor: pointer;
}

.collection {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.collection .collection-item .active {
    color: #1DBD63;
}

.collection-item:hover {
    background-color: lightgrey;
}

.collection a.collection-item {
    color: black !important;
}