.patient-detail {
    margin-bottom: 40px
}

.patient-detail p {
    margin-top: 2px;
}

.detail-appointment {
    margin-bottom: 10px;
}

.detail-appointment p {
    margin-bottom: 0px;
}

.detail-appointment label {
    float: right;
    margin-right: 15px;
}

.appointments-label {
    margin-bottom: 5px;
}

.patient-title {
     margin-top: 0px;
}