.patient-detail {
    margin-bottom: 40px
}

.patient-detail p {
    margin-top: 2px;
}

.detail-appointment {
    margin-bottom: 10px;
}

.detail-appointment p {
    margin-bottom: 0px;
}

.detail-appointment label {
    float: right;
    margin-right: 15px;
}

.appointments-label {
    margin-bottom: 5px;
}

.patient-title {
    margin-top: 0px;
}

.patient-preview {
    margin-top: 73px;
    min-height: 300px!important;
    padding: 5px!important;
    border: 1px solid rgb(228, 228, 228);
}

.description-patient-list{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}