@media screen and (max-width : 992px) {
    .main {
        padding-left: 0!important;
    }
}

.container {
    width: 90%
}

a {
    color: #003333!important 
}

.header {
    background-color: #669999;  
}

.input-field input:focus + label, textarea:focus + label{
    color: #669999 !important;
}

.row .input-field input:focus, textarea:focus {
    border-bottom: 1px solid #669999 !important;
    box-shadow: 0 1px 0 0 #669999 !important
}

.picker__date-display, .picker__weekday-display, .btn{
    background-color: #669999;
}

.picker__close, .picker__today{
    color: #669999;
}

.btn {
    background-color: #669999;
}

.btn:hover {
    background-color: #999999;
}

.btn:focus {
    background-color: #669999;
}

.delete_button{
    background-color: red;
}

