@media screen and (max-width : 992px) {
    .main {
        padding-left: 0!important;
    }
}

/* label focus color */
.input-field input:focus + label, textarea:focus + label{
    color: #FFCC00 !important;
}

/* label underline focus color */
.row .input-field input:focus, textarea:focus {
    border-bottom: 1px solid #FFCC00 !important;
    box-shadow: 0 1px 0 0 #FFCC00 !important
}

.picker__date-display, .picker__weekday-display, .btn{
    background-color: #FFCC00;
}

.btn {
    background-color: red;
}

.btn:hover {
    background-color: #FFCC00;
}

.btn:focus {
    background-color: red;
}

.picker__close, .picker__today{
    color: #FFCC00;
}

a {
    color: #FF9900!important 
}

.container {
    width: 90%
}